@media screen and (max-width: 1024px) { 
    .slider-section {
        display: none;
    }
    .nav__bar{
        display: block;
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 50%;
        background-color: white;
        opacity: 0.9;
        align-items:normal;
        padding: 70px 0px 0px 0px;
        transition: all 0.3s ease 0s;
    }
    header{
        max-height: 70px;
        position: fixed;
        max-width: 100%;
        background-color: white;
    }
    .logo-holder img{
        max-width: 20rem;
        margin-left: 0;
    }
    .logo {
        padding-left: 2rem;
    }
    .header__burger{
        cursor: pointer;
        display: block;
        position: absolute;
        width: 40px;
        height: 30px;
        right: 10%;
        z-index: 13;
    }
    .header__burger span{ 
        position: absolute;
        width: 100%;
        height: 2px;
        right: 100;
        background-color: #000;
        top: 30px
    }
    .header__burger::before,
    .header__burger::after{
        content: '';
        background-color: black;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;

    }
    .header__burger::before{
        top: 15px;
    }
    .header__burger::after { 
        top: 45px;
    }
    .header__burger.active::before{
        transform: rotate(45deg);
        top: 30px;
        transition: all 0.3s ease 0s;
    }
    .header__burger.active::after{
        transform: rotate(-45deg);
        top: 31px;
        transition: all 0.3s ease 0s;
    }
    .header__burger.active span{
        transform: scale(0);
        transition: all 0.3s ease 0s;
    }
    .nav__bar{
        display: block;
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 50%;
        background-color: white;
        opacity: 0.9;
        align-items:normal;
        padding: 70px 0px 0px 0px;
        transition: all 0.3s ease 0s;
    }
    .nav__bar.active{
        top:0;
        transition: all 0.3s ease 0s;
    }
    .aaa{
        display: block;
        margin: 10px 0px 0px 32px;
        color: black;
        font-size: 1.25rem;
        transition: 0.4s;
    }
    body.lock{
        overflow: hidden;
    }
}

/* PHONE FORMAT */
@media screen and (max-width: 480px) {

    header{
        max-height: 50px;
        position: fixed;
        max-width: 100%;
        
        background-color: white;
        
    }

    .logo-holder img{
        max-width: 12rem;
        margin-left: 0;

    }

    .logo {
        padding-left: 2rem;
    }
    .header__burger{
        cursor: pointer;
        display: block;
        position: absolute;
        width: 30px;
        height: 20px;
        right: 10%;
        z-index: 13;

    }
    .header__burger span{ 
        position: absolute;
        width: 100%;
        height: 2px;
        right: 100;
        background-color: #000;
        top: 24px;
    }
    .header__burger::before,
    .header__burger::after{
        content: '';
        background-color: black;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;

    }
    .header__burger::before{
        top: 10px;
    }
    .header__burger::after { 
        top: 38px;
    }
    .header__burger.active::before{
        transform: rotate(45deg);
        top: 22px;
        transition: all 0.3s ease 0s;
    }
    .header__burger.active::after{
        transform: rotate(-45deg);
        top: 23px;
        transition: all 0.3s ease 0s;
    }
    .header__burger.active span{
        transform: scale(0);
        transition: all 0.3s ease 0s;
    }
    .nav__bar{
        display: block;
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 50%;
        background-color: white;
        opacity: 0.9;
        align-items:normal;
        padding: 70px 0px 0px 0px;
        transition: all 0.3s ease 0s;
    }
    .nav__bar.active{
        top:0;
        transition: all 0.3s ease 0s;
    }
    .aaa{
        display: block;
        margin: 10px 0px 0px 32px;
        color: black;
        font-size: 1.25rem;
        transition: 0.4s;
    }
    main{
        max-height: 30rem;
    }
    body.lock{
        overflow: hidden;
    }

    main::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0,0,0,.4);
        z-index: 2;
        max-height: 30rem;
    }

    .heading {
        margin-top: 2rem;
        max-width: 100rem;
    }

    .heading-subtitle {
        font-size: 1rem;
    }

    .heading-maintitle {
        font-size: 2rem;
    }

    .heading-button {
        margin-top: 4rem;
        font-size: 1rem;
        padding: 0.5rem 1.rem;
        border-width: 0px;
        border-radius: 30px;
        cursor: default;
    }

    .about-hs {
        max-width: 100%;
    }

    .hs-bar{
        border-radius: 50px;
        margin: 0rem 0rem;
        min-width: 20rem;
    }
    
    .hs-maintitle{
        margin-top: 2rem;
        font-size: 2rem;
    }

    .hs-units {
        margin-top: 0;
    }

    .hs-unit {
        min-width: 80%;
    }

    .hs-unit-title {
        font-size: 1.2rem;
    }
    
    .hs-unit-subtitle {
        color: black;
        flex-basis: 1rem;
        text-align: center;
        font-size: 0.8rem;
    }

    .about-teach {
        max-width: 100%;
    }

    .teach-bar {
        border-radius: 50px;
        margin: 0rem 0rem;
        min-width: 20rem;
    }

    .teach-title {
        max-width: 100%;
    }

    .teach-maintitle {
        font-size: 2rem;
    }

    .teach-subtitle {
        font-size: 1rem;
    }

    .faq {
        margin: 2rem 0.5rem;
    }

    .faq-title {
        font-size: 1rem;
    }

    .faq-inner-text {
        font-size: 0.9rem;
    }

    .survay-maintitle {
        font-size: 1.5rem;
    }

    .survay-subtitle {
        font-size: 1rem;
        text-align: center;
        margin: 0;
    }

    .footer {
        max-width: 480px;
    }

    .footer-copyrights-texts {
        font-size: 0.8rem;
        margin-left: 0;
        margin-right: 0rem;
        max-width: 8rem;
        margin-right: 0.5rem;
    }
    
    .footer-logo {
        max-width: 4rem;
        margin-left: 1rem;
    }
    
    .footer-contacts {
        font-size: 0.8rem;
        margin-left: 5.5rem;
    }

}